<div class="auth-wrapper">
    <form class="form-signin" (ngSubmit)="update($event)">
        <div *ngFor="let read of reads">
            <div *ngIf="read.id==id">
                <h3 class="h3 mb-3 font-weight-normal">Please Fill In The Form</h3>
                <div class="form-group mt-3">
                    <h4>Title</h4>
                    <input type="text" [(ngModel)]="read.title" name="read.title" placeholder="{{read.title}}" required>
                    <span style="color:red;" *ngIf="read.title && read.title.touched && read.title.invalid">
                        Title is required. Minimum length is 5.
                    </span>
                </div>
                <div class="form-group mt-3">
                    <h4>First Name</h4>
                    <input type="text" [(ngModel)]="read.firstName" name="read.firstName" placeholder="{{read.firstName}}" required>
                    <span style="color:red;" *ngIf="read.firstName && read.firstName.touched && read.firstName.invalid">
                        First Name is required. Minimum length is 5.
                    </span>
                </div>
                <div class="form-group mt-3">
                    <h4>Last Name</h4>
                    <input type="text" [(ngModel)]="read.lastName" name="read.lastName" placeholder="{{read.lastName}}" required>
                    <span style="color:red;" *ngIf="read.lastName && read.lastName.touched && read.lastName.invalid">
                        Last Name is required. Minimum length is 5.
                    </span>
                </div>
                <div class="form-group mt-3">
                    <h4>Role</h4>
                    <input type="text" [(ngModel)]="read.role" name="read.role" placeholder="{{read.role}}" required>
                    <span style="color:red;" *ngIf="read.role && read.role.touched && read.role.invalid">
                        Role is required. Minimum length is 4.
                    </span>
                </div>
                <div class="form-group mt-3">
                    <h4>Email</h4>
                    <input type="email" [(ngModel)]="read.email" name="read.email" placeholder="{{read.email}}" required>
                    <span style="color:red;" *ngIf="read.email && read.email.touched && read.email.invalid">
                        Email is required. Must input email type.
                    </span>
                </div>
                <div class="form-group mt-3">
                    <h4>Password</h4>
                    <input type="password" [(ngModel)]="read.password" name="read.password" placeholder="{{read.password}}" required>
                    <span style="color:red;" *ngIf="read.password && read.password.touched && read.password.invalid">
                        Password is required. Minimum length is 6.
                    </span>
                </div>
                <div class="form-group mt-3">
                    <h4>Confirm Password</h4>
                    <input type="password" [(ngModel)]="read.confirmPassword" name=" read.confirmPassword " placeholder="{{read.confirmPassword}} " required>
                    <span style=" color:red; " *ngIf="read.confirmPassword && read.confirmPassword.touched && read.confirmPassword.invalid ">
                        Password is required. Minimum length is 6.
                    </span>
                </div>
                <button type="submit " class="btn btn-accent ">Edit</button>
                <button class="btn btn-error " (click)=" cancel() ">
                    Cancel
                </button>

            </div>
        </div>
    </form>
</div>