<div class="container justify-content-center">
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <table>
                <td *ngFor="let country of countryFilled">
                    <div *ngIf="country.id==idCountry">
                        <tr>{{country.country}}</tr>
                        <tr>{{country.area.toLocaleString()}} km <sup>2</sup></tr>
                        <tr>{{country.population.toLocaleString()}} People</tr>
                        <tr>{{country.GDP.toLocaleString()}} USD</tr>
                        <tr>{{country.currency}}</tr>
                    </div>
                </td>
            </table>

        </li>
    </ol>
    <button (click)="goBack()" class=" btn btn-warning btn-sm ">
        <p>Go back</p>
    </button>
</div>