<div class="container justify-content-center">
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">

            <table>
                <td *ngFor="let country of countryFilled">
                    <tr *ngIf="country.id">{{country.country}}</tr>
                    <tr>{{country.population.toLocaleString()}} People</tr>
                </td>
            </table>

        </li>
    </ol>
    <button (click)="goBack()" class=" btn btn-warning btn-sm ">
        <p>Go back</p>
    </button>
</div>