<div class="d-flex justify-content-center">
    <h4>Three Most Populated Countries</h4>
</div>
<div [ngClass]="{check:sortPopulation()}">
    <div class="row card-group">
        <div class="col-4" *ngFor="let country of countryFilled; let i = index">
            <div *ngIf="i<3" class="card" (click)="onButtonClick(country.id)">
                <div>
                    <h4>{{country.country}}</h4>
                </div>
                <div>
                    {{country.population.toLocaleString()}}
                </div>
                <div>
                    People
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <h4>Three Largest Area of Countries</h4>
</div>
<div [ngClass]="{check:sortArea()}">
    <div class="row card-group">
        <div class="col-4" *ngFor="let country of countryFilled; let i = index">
            <div *ngIf="i<3" class="card" (click)="onButtonClick(country.id)">
                <div>
                    <h4>{{country.country}}</h4>
                </div>
                <div>
                    {{country.area.toLocaleString()}} km <sup>2</sup>
                </div>
            </div>
        </div>
    </div>
</div>